@media screen and (max-width: 1000px) {
	.header {
		height: 602px;
	}
	.header__top {
		display: none;
	}
	.nav {
		display: none;
	}
	.nav__mobile-burger {
		display: inline-block;
		width: 55px;
		height: 55px;
		cursor: pointer;
		float: right;
		background-image: url(/image/icon/burger.png);
		background-repeat: no-repeat;
		background-position: center;
		border: none;
		background-color: transparent;
	}
	.nav__mobile {
		display: block;
		position: fixed;
		top: 0;
		padding: 0;
		left: 0;
		z-index: 90000;
	}
	.nav__mobile-item_social {
		vertical-align: middle;
		margin-right: 10px;
	}
	.nav__mobile-social {
		display: inline-block;
		height: 56px;
		&:before {
			content: "";
			height: 100%;
			display: inline-block;
			width: 0;
			vertical-align: middle;
		}
	}
	.nav__link-social_be {
		margin-left: 10px;
	}
	.nav__mobile-list {
		width: 226px;
		height: auto;
		background-color: #232020;
		position: absolute;
		right: -230px;
		top: 56px;
		z-index: 100000;
		transition: right 0.5s;
	}
	.nav__mobile-link {
		text-align: center;
	}
	.nav__mobile-list_activ {
		right: 0;
	}
	.search__form-row {
		text-align: justify;
		padding: 0 2%;
		&:after {
			content: "";
			width: 100%;
			height: 0;
			display: inline-block;
		}
	}
	.search__form-col {
		margin-left: 0px;
		width: 48%;
	}
	.hearwhat__item {
		width: 480px;
		display: block;
		margin: 0 auto;
	}
	.owl-carousel {
		width: 80%;
		margin-bottom: 100px;
		margin: 0 auto 100px auto;
	}
	.recently {
		display: none;
	}
}
@media screen and (max-width: 950px) {
	.team__item {
		display: block;
		margin: 0 auto 50px auto;
	}
}
@media screen and (max-width: 860px) {
	.block__text {
		font-size: 16px
	}
	.h1__title {
		font-size: 40px;
	}
}
@media screen and (max-width: 768px) {
	.search__form-row {
		text-align: left;
		padding: 0 2%;
		&:after {
			display: none;
		}
	}
	.search__form-col {
		width: 100%;
		margin-bottom: 10px;
	}
	.search__form-col_radio {
		margin-bottom: 30px;
	}
	.message__container {
		flex-direction: column;
		padding: 0 10px;
	}
	.form__message-container {
		max-width: 768px;
		width: 100%;
		order: 2;
	}
	.message__address {
		max-width: 768px;
		width: 100%;
		order: 1;
		margin-bottom: 50px;
	}
}
@media screen and (max-width:600px) {
	.form__message-input {
		width: 100%;
	}
	.hearwhat {
		padding: 0 10px;
	}
	.whatis_container {
		min-height: 430px;
	}
	.h1__title {
		font-size: 30px;
		margin-top: 60px;
	}
	.block__text {
		font-size: 16px;
		line-height: 25px;
	}
}
@media screen and (max-width:500px) {
	.hearwhat__item {
		max-width: 480px;
		width: 100%;
		display: block;
		margin: 0 auto;
		text-align: right
	}
	.hearwhat__item-bottom {
		display: inline-block;
	}
	.hearwhat__desc {
		margin-left: 10px;
	}
}
@media screen and (max-width: 460px) {
	.header__bottom-cont {
		width: 100%;
	}
}
@media screen and (max-width:425px) {
	.hearwhat__desc {
		max-width: 200px;
		width: 100%;
		text-align: left;
		line-height: 21px;
	}
}
@media screen and (max-width:320px) {
	.team__item {
		width: 100%;
	}
	.team__img {
		max-width: 320px;
		width: 320px;
	}
	.team__midle {
		padding: 0 10px;
	}
	.team__social-list {
		text-align: center;
	}
}
